<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<div class="row text-center" th:fragment="products">
		<div class="col-sm-4" th:each="product:${products}">
			<div class="card mb-3" style="width: 23rem;">
				<img th:src="@{/images/product.png}" class="card-img-top" alt="..." style="max-height:277px;">
				<div class="card-body">
					<h1 class="card-title pricing-card-title">
						<small class="text-muted" th:text="${product.name}"></small>
					</h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li th:text="${product.description}"></li>
						<li th:text="${product.price}"></li>
					</ul>
					<div class="btn-group" role="group" aria-label="Basic example">
						<a class="btn btn-primary">View</a> <a class="btn btn-warning"
							th:href="@{/cart/buy/{id}(id=${product.id})}">Buy now</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>