<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
<title>Commandeo-orders</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="headerFragment :: header"></div>
	<div class="container">
		<h3 class="display-4">List Orders</h3>
		<div class="row">
			<div class="col-sm">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">code</th>
							<th scope="col">comment</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order:${listOrders}">
							<th scope="row" th:text="${order.id}"></th>
							<td th:text="${order.code}">Mark</td>
							<td th:text="${order.comment}">Otto</td>
							<td scope="row"><a th:href="@{'/orders/edit/'+${order.id}}" class="btn btn-primary btn-sm"
								role="button" aria-disabled="true">Modifier</a> 
								<a th:href="@{'/orders/delete/'+${order.id}}" class="btn btn-danger btn-sm" 
								role="button" aria-disabled="true">Supprimer</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="footerFragment :: footer"
		class="pt-4 my-md-5 pt-md-5 border-top"> </footer>
</body>
</html>