<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<div class="row text-center" th:fragment="products">
		<div class="col-sm-4" th:each="product:${products}">
			<div class="card mb-3" style="width: 23rem;">
				<img th:src="@{/images/product.png}" class="card-img-top" alt="..."
					style="max-height: 277px;">
				<div class="card-body">
					<h1 class="card-title pricing-card-title">
						<small class="text-muted" th:text="${product.getKey().category}"></small>
					</h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li th:text="${product.getKey().name}"></li>
						<li th:text="${product.getKey().price}"></li>
						<li>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Quantity:</span>
								</div>
								<input type="number" step="1" class="form-control qt-item"
									placeholder="Quantity" aria-label="Quantity"
									aria-describedby="basic-addon1"
									th:value="${product.value}" th:data-qt="${product.value}" th:data-id="${product.getKey().id}">
							</div>
						</li>
					</ul>
					<div class="btn-group" role="group" aria-label="Basic example">
						<a th:href="@{/cart/delete/{id}(id=${product.getKey().id})}" class="btn btn-danger text-white">Remove</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>