<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<div th:fragment="header"
		class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<h5 class="my-0 mr-md-auto font-weight-normal">Commandeo</h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" th:href="@{/}">Home</a>  
<!-- 			<a class="p-2 text-dark" th:href="@{/orders/show/add}">Add order</a> -->
<!-- 			 <a class="p-2 text-dark" th:href="@{/orders/list}">List order</a>  -->
			<a class="p-2 text-dark" th:href="@{/cart/items}">My cart</a>
		</nav>
		<a class="btn btn-outline-primary" href="@{/login}">Sign in</a>
	</div>
</body>
</html>